.nav {
  background-color: lighten(black, 7%);
  z-index: 1000;
}
a {
  color: whitesmoke;
  text-decoration: none;
  border-bottom: solid 3px transparent;
  font-weight: 300;

  &:hover, &.active {
    font-weight: 600;
    border-bottom: solid 3px whitesmoke !important;
  }
}


div.a-div {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 300;

  &:hover, &.active {
    font-weight: 600;
  }
}
